canvas {
    width: 80%;
    background: rgb(80, 90, 100);
}

body, html {
    height: 100%;
    margin: 0;
}

html,
body {
    background-color: hsl(349, 40%, 33%);;
    width: 100%;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 0;
    box-sizing: border-box;
    
    /*No scrolling! There are monsters down there...*/
    overflow: hidden;
}

@media only screen and (min-width: 800px) {
    
}